Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.scrollBar: false
URxvt*background: #261515
URxvt*foreground: #FFFFFF
URxvt*cursorColor: #E25454
URxvt*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
URxvt*boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,keyboard-select,clipboard
URxvt.keysym.S-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.url-select.launcher:  chromium
!URxvt.url-select.underline: true

URxvt.keysym.C-S-c:   perl:clipboard:copy
URxvt.keysym.C-S-v:   perl:clipboard:paste
URxvt.clipboard.autocopy: true
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! [ urxvt ]
!   black / dark gray
URxvt*color0: #757575
URxvt*color8: #B8B8B8
!   red
URxvt*color1: #FF5F5F
URxvt*color9: #D78787
!   green
URxvt*color2: #DE8A36
URxvt*color10: #FF9F6F
!   yellow
URxvt*color3: #D78787
URxvt*color11: #FF5F5F
!   blue
URxvt*color4: #AF5FD7
URxvt*color12: #DEA3E5
!   magenta
URxvt*color5: #FF87D7
URxvt*color13: #D7AFAF
!   cyan
URxvt*color6: #DEA3E5
URxvt*color14: #AF5FD7
!   light gray / white
URxvt*color7: #B8B8B8
URxvt*color15: #757575
